<main class="{{styles.chat}}">
  <section class="{{styles.chat__left-window}}">
    <button onclick="renderPage('profile')" class="{{styles.chat__profile-btn}}">Профиль ></button>
    <input class="{{styles.chat__search-input}}" placeholder="Поиск">
    <ul class="{{styles.chat__chats}}">
      <li class="{{styles.chat__chat-item}}">
        <div class="{{styles.chat-item__img}}"></div>
        <div class="{{styles.chat-item__title}}">
          <p class="{{styles.chat-item__user-name}}">Андрей</p>
          <p class="{{styles.chat-item__last-message}}">Изображение</p>
        </div>
        <div class="{{styles.chat-item__info}}">
          <p class="{{styles.chat-item__time}}">10:49</p>
          <div class="{{styles.chat-item__counter}}">2</div>
        </div>
      </li>
      <li class="{{styles.chat__chat-item}}">
        <div class="{{styles.chat-item__img}}"></div>
        <div class="{{styles.chat-item__title}}">
          <p class="{{styles.chat-item__user-name}}">Киноклуб</p>
          <p class="{{styles.chat-item__last-message}}">И Human Interface Guidelines и Material Design рекомендуют И Human Interface Guidelines и Material Design рекомендуют...</p>
        </div>
        <div class="{{styles.chat-item__info}}">
          <p class="{{styles.chat-item__time}}">12:00</p>
          <div class="{{styles.chat-item__counter}}">2</div>
        </div>
      </li>
    </ul>
  </section>
  <section class="{{styles.chat__right-window}}">
    <p class="{{styles.chat__message}}">Выберите чат чтобы отправить сообщение</p>
    <p onclick="renderPage('page_404')" class="{{styles.chat__link}}">Страница 404</p>
    <p onclick="renderPage('page_500')" class="{{styles.chat__link}}">Страница 500</p>
  </section>
</main>
