<main class="{{styles.profile-window}}">
  <button onclick="renderPage('chat')" class="{{styles.back-btn}}">
    <div class="{{styles.back-btn__arrow}}"></div>
  </button>
  <section class="{{styles.profile}}">
    <form class="{{styles.profile__form}}">
      <div class="{{styles.profile__user-img}}"></div>
      <h1 class="{{styles.profile__user-name}}">Кирилл</h1>
      <fieldset class="{{styles.profile__user-info}}">
        {{> profileInput label="Почта" name="email" value="user@yandex.ru" type="email"}}
        {{> profileInput label="Логин" name="login" value="keeryl" type="text"}}
        {{> profileInput label="Имя" name="first_name" value="Кирилл" type="text"}}
        {{> profileInput label="Фамилия" name="second_name" value="Иванов" type="text"}}
        {{> profileInput label="Имя в чате" name="display_name" value="Кирилл" type="text"}}
        {{> profileInput label="Телефон" name="phone" value="+7 (926) 453-23-23" type="tel"}}
      </fieldset>
      <button class="{{styles.profile__btn}}">Изменить данные</button>
      <button class="{{styles.profile__btn}}">Изменить пароль</button>
      <button class="{{styles.profile__btn}}">Выйти</button>
    </form>
  </section>
</main>
