<main class="{{styles.profile-window}}">
  <button class="{{styles.back-btn}}">
    <div class="{{styles.back-btn__arrow}}"></div>
  </button>
  <section class="{{styles.profile}}">
    <form class="{{styles.profile__form}}">
      <div class="{{styles.profile__user-img}}"></div>
      <h1 class="{{styles.profile__user-name}}">Кирилл</h1>
      <fieldset class="{{styles.profile__user-info}}">
        <label class="{{styles.profile__input-label}}">
          Почта
          <input class="{{styles.profile__input}}" value="user@yandex.ru" type="email">
        </label>
        <label class="{{styles.profile__input-label}}">
          Логин
          <input class="{{styles.profile__input}}" value="keeryl">
        </label>
        <label class="{{styles.profile__input-label}}">
          Имя
          <input class="{{styles.profile__input}}" value="Кирилл">
        </label>
        <label class="{{styles.profile__input-label}}">
          Фамилия
          <input class="{{styles.profile__input}}" value="Иванов">
        </label>
        <label class="{{styles.profile__input-label}}">
          Имя в чате
          <input class="{{styles.profile__input}}" value="Кирилл">
        </label>
        <label class="{{styles.profile__input-label}}">
          Телефон
          <input class="{{styles.profile__input}}" value="+7 (926) 453-23-23">
        </label>
      </fieldset>
      <button class="{{styles.profile__btn}}">Изменить данные</button>
      <button class="{{styles.profile__btn}}">Изменить пароль</button>
      <button class="{{styles.profile__btn}}">Выйти</button>
    </form>
  </section>
</main>
