<li class="{{styles.chatItem}}">
  <div class="{{styles.chatItem__img}}"></div>
  <div class="{{styles.chatItem__title}}">
    <p class="{{styles.chatItem__userName}}">{{props.userName}}</p>
    <p class="{{styles.chatItem__lastMessage}}">{{props.lastMessage}}</p>
  </div>
  <div class="{{styles.chatItem__info}}">
    <p class="{{styles.chatItem__time}}">{{props.time}}</p>
    <div class="{{styles.chatItem__counter}}">{{props.counter}}</div>
  </div>
</li>
